<div
    class="flex flex-col lg:flex-row justify-between mx-8 sm:mx-20 md:mx-32 lg:mx-48 xl:mx-60 py-10 space-y-8 lg:space-y-0 lg:space-x-8">
    <!-- Menu Items Section -->
    <div class="w-full lg:w-1/3 pr-0 lg:pr-4 border border-gray-300 rounded-md flex flex-wrap p-4 bg-white shadow-md">
        <h2 class="text-2xl font-bold mb-6 text-gray-800">Menu Items</h2>
        <div class="mb-6 w-full">
            <label for="categorySelect" class="block font-semibold mb-3 text-gray-700">Select Category:</label>
            <select id="categorySelect" [(ngModel)]="selectedCategory" (change)="onCategoryChange($any($event.target).value)" class="border border-gray-300 rounded-md py-2 px-3 w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
            </select>
        </div>
        <div *ngIf="selectedCategory" class="mb-6 w-full">
            <h3 class="text-xl font-semibold mb-3 text-gray-700">{{ selectedCategory }}</h3>
            <div class="overflow-x-auto">
                <table class="min-w-full bg-white border border-gray-200 rounded-md">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 bg-gray-100 text-gray-700 font-semibold border-b">Item Name</th>
                            <th class="py-2 px-4 bg-gray-100 text-gray-700 font-semibold border-b">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of getMenuItemsByCategory(selectedCategory)" (click)="addItem(item)" class="cursor-pointer hover:bg-gray-100 transition-all border-b">
                            <td class="py-2 px-4 text-gray-800">{{ item.name }}</td>
                            <td class="py-2 px-4 text-gray-600 font-medium">{{ item.price }} vnd</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

    <!-- Order Summary Section -->
    <div class="w-full lg:w-2/3 pl-0 lg:pl-4 border border-gray-300 rounded-md p-4">
        <!-- Adjusted width to 2/3 and added border -->
        <h2 class="text-2xl font-bold mb-6 text-gray-800">Order Summary</h2>
        <button [routerLink]="['/view-orders']"
            class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded transition-all mb-4">
            View Orders
        </button>
        <div *ngIf="selectedItems.length > 0" class="mb-4">
            <h3 class="text-xl font-semibold mb-3 text-gray-700">Selected Items</h3>
            <table class="w-full">
                <thead>
                    <tr>
                        <th class="px-4 py-2 text-left">Name</th>
                        <th class="px-4 py-2 text-left">Quantity</th>
                        <th class="px-4 py-2 text-left">Description</th>
                        <th class="px-4 py-2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of selectedItems">
                        <td class="border px-4 py-2">{{ item.menuItem.name }}</td>
                        <td class="border px-4 py-2">
                            <input type="number" [(ngModel)]="item.quantity"
                                (ngModelChange)="updateQuantity(item.menuItem.id, item.quantity)"
                                class="border rounded-md py-1 px-2 w-16 text-center">
                        </td>
                        <td class="border px-4 py-2">
                            <input type="text" [(ngModel)]="item.description"
                                (ngModelChange)="updateDescription(item.menuItem.id, item.description)"
                                placeholder="Description" class="border rounded-md py-1 px-2 w-full">
                        </td>
                        <td class="border px-4 py-2">
                            <button (click)="removeItem(item.menuItem.id)"
                                class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Remove</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mb-6">
            <label for="table" class="block font-bold mb-2 text-gray-700">Select Table:</label>
            <select id="table" [(ngModel)]="selectedTable" class="border rounded-md py-2 px-3 w-full">
                <option *ngFor="let table of tables" [value]="table.name">{{ table.name }}</option>
            </select>
        </div>
        <button (click)="createOrder()"
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition-all">Create
            Order</button>
    </div>
</div>